.Meaning h4 {
  font-size: 35px;
  line-height: 1.5;
  font-weight: bold;
}

.Meaning .example {
  font-size: 15px;
  color: #000000;
  font-weight: bold;
  font-style: italic;
  margin-top: 10px;
}

.Meaning li {
  list-style-type: circle;
}
