.Meaning h4 {
  font-size: 35px;
  line-height: 1.5;
  font-weight: bold;
}

.Meaning .example {
  font-size: 13px;
  color: #000000;
  font-weight: bold;
  font-style: italic;
  margin-top: 10px;
}

.Meaning li {
  list-style-type: circle;
}

.btn-light {
  background-color: rgb(232, 237, 237);
  color: #000000;
  border-style: none;
  border-radius: 5px;
}

.btn-light:hover {
  background-color: rgb(232, 237, 237);
}
